ion-app {
  font-family: Arial, sans-serif;
}

ion-header {
  background-color: #3880ff;
  color: white;
}

ion-toolbar {
  --background: #3880ff;
  --color: white;
}

ion-content {
  padding: 16px;
}
